<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Producto - Inventario</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista el inventario.</p>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <button class="btn btn-outline-primary mb-2 mr-3" data-toggle="modal" [attr.data-target]="'#newInventary'" type="button">Nuevo</button>
        <button class="btn btn-outline-warning mb-2 me-1" [routerLink]="['/panel/productos']" type="button">Regresar</button>
        <button class="btn btn-outline-success mb-2 ml-3" (click)="descargarExcel()" type="button">Exportar</button>
      </p>
    </div>
  </div>

  <div class="card-body box-shadow-sm" *ngIf="!producto">
    <h3 class="text-center">No se encontró el producto</h3>
    <div class="row">
        <div class="col-2 mx-auto">
            <img src="assets/img/advertencia.png" alt="" style="width: 100%;">
        </div>
    </div>
</div>

  <div class="card box-shadow-sm" *ngIf="producto">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h5 style="margin-bottom: 0px;"> <i class="fa fa-th-list mt-n1 align-middle"></i> Inventario de <u>{{producto.titulo}}</u> </h5>
            </div>
            <div class="col-md-6" *ngIf="producto.stock > producto.alerta_stock">
              <h5 style="margin-bottom: 0px;"> Stock: <div class="badge bg-success" style="color:black;"> {{producto.stock}}</div> </h5>
            </div>
            <div class="col-md-6" *ngIf="producto.stock <= producto.alerta_stock">
              <h5 style="margin-bottom: 0px;"> Stock: <div class="badge badge-warning" style="color:black;"> {{producto.stock}}</div> </h5>
            </div>
          </div>
        </div>
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>Admin</th>
                      <th>Cantidad</th>
                      <th>Descripción</th>
                      <th>Movimiento</th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="inventarios.length == 0">
                    <tbody>
                      <tr>
                        <td colspan="4" class="text-center">
                          <span class="text-muted">No hay registros de inventario</span>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>

                  <ng-container *ngIf="inventarios.length > 0">
                    <tbody *ngFor="let item of inventarios">
                      <tr>
                        <td>
                          {{item.admin.nombres}} {{item.admin.apellidos}}
                        </td>
                        <td>
                          {{item.cantidad}}
                        </td>
                        <td>
                          {{item.proveedor}}
                        </td>
                        <td *ngIf="item.tipo">
                          <span class="badge badge-success">Ingreso</span>
                        </td>
                        <td *ngIf="!item.tipo">
                          <span class="badge badge-danger">Egreso</span>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>

                </table>
            </div>
        </div>
        <!--<div class="card-footer">
            <ngb-pagination
              [(page)]="page"
              [pageSize] = "pageSize"
              [collectionSize]="productos.length"
            ></ngb-pagination>
        </div>-->
  </div>

  <div class="modal fade" id="newInventary" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cambio de stock</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">x</button>
        </div>
        <form #registroForm = "ngForm" (ngSubmit)="registro(registroForm)">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">Descripción</label>
                  <input type="text" required class="form-control" name="proveedor" [(ngModel)]="inventario.proveedor">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">Cantidad</label>
                  <input type="number" required min="1" class="form-control" name="cantidad" [(ngModel)]="inventario.cantidad">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">Tipo movimiento</label>
                  <div class="btn-group " data-toggle="buttons">
                    <label class="btn btn-outline-success btn-sm btns">
                      <input type="radio" name="tipo" id="ingreso" value="true" name="tipo" [(ngModel)]="inventario.tipo"> Ingreso
                    </label>
                    <label class="btn btn-outline-danger btn-sm btns">
                      <input type="radio" name="tipo" id="egreso" value="false" name="tipo" [(ngModel)]="inventario.tipo"> Egreso
                    </label>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary mr-3" type="submit">Crear</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
