<div class="row" style="width: 100%;height: 100%; margin-top: 140px;">
    <div class=" col-lg-7 mx-auto" style="display: flex;align-items: center;">
        <div class="px-md-4 px-4">
            <div *ngIf="mostrarFormularioInicioSesion">
                <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar sesión</h3>
                <p class="font-size-sm text-muted text-center">Inicie sesión en su cuenta utilizando el correo
                    electronico y la contraseña proporcionados durante el registro.</p>
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="form-group">
                        <label for="signin-email">Correo electronico</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="user.email"
                            placeholder="Correo electronico" required="">
                    </div>
                    <div class="form-group">
                        <label for="signin-password" class="form-label">Contraseña</label>
                        <div class="cs-password-toggle input-group-overlay">
                            <input type="password" class="form-control appended-form-control" name="password"
                                [(ngModel)]="user.password" placeholder="Contraseña" required="">
                            <div class="input-group-append-overlay">
                                <label class="btn cs-password-toggle-btn input-group-text">
                                    <input type="checkbox" class="custom-control-input">
                                    <i class="cxi-eye cs-password-toggle-indicator"></i>
                                    <span class="sr-only">Mostrar contraseña</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    <button type="button" class="btn btn-secondary btn-block" (click)="cambiarFormulario()">Crear
                        usuario</button>
                </form>
            </div>
            <div *ngIf="!mostrarFormularioInicioSesion">
                <form #createForm="ngForm" (ngSubmit)="addUser(createForm)">
                    <div class="card box-shadow-sm">
                        <div class="card-header">
                            <h3 style="margin-bottom: 0px;" class="text-center">Crear usuario</h3>
                            <p class="font-size-sm text-muted text-center">Complete su información para crear su
                                usuario.</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="form-label">Nombre</label>
                                    <input class="form-control" type="text" placeholder="Ingrese su nombre"
                                        name="nombres" [(ngModel)]="user.nombres" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="form-label">Apellido</label>
                                    <input class="form-control" type="text" placeholder="Ingrese su apellido"
                                        name="apellidos" [(ngModel)]="user.apellidos" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="text" placeholder="Ingrese su correo" name="email"
                                        [(ngModel)]="user.email" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="form-label">Contraseña</label>
                                    <div class="cs-password-toggle input-group-overlay">
                                        <input class="form-control appended-form-control"
                                            [type]="mostrarContrasena ? 'text' : 'password'"
                                            placeholder="Ingrese su contraseña" name="password"
                                            [(ngModel)]="user.password" required>
                                        <div class="input-group-append-overlay">
                                            <label class="btn cs-password-toggle-btn input-group-text">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="showPasswordToggle" (change)="toggleMostrarContrasena()">
                                                <i class="cxi-eye cs-password-toggle-indicator"></i>
                                                <span class="sr-only">Mostrar contraseña</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="form-label">DNI</label>
                                    <input class="form-control" type="text" placeholder="Ingrese su dni" name="dni"
                                        [(ngModel)]="user.dni" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label class="form-label">Teléfono</label>
                                    <input class="form-control" type="text" placeholder="Ingrese su teléfono"
                                        name="telefono" [(ngModel)]="user.telefono" required>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex">
                            <button *ngIf="!load_btn" class="btn btn-primary mr-3 w-50" type="submit">Crear usuario</button>
                            <button *ngIf="load_btn" class="btn btn-secondary w-50" type="button" disabled>
                                <span class="spinner-border spinner-border-sm me-2" role="status"
                                    aria-hidden="true"></span>
                                Creando...
                            </button>
                            <button class="btn btn-warning w-50" (click)="cambiarFormulario()">Volver</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>